@media (prefers-color-scheme: dark) {
    body {
        --main-background-color: #181818;
        --sec-background-color: #1e1e1e;
        --text-color: #ddd;
        --hr-color: #444;
        --button-text-color: #222;
        --button-background-color: #87a9ff;
        --button-background-color-hover: #6789df;
        --selector-background-color-hover: #222222;
    }
}

@media (prefers-color-scheme: light) {
    body {
        --main-background-color: #f1f1f1;
        --sec-background-color: #eaeaea;
        --text-color: #222;
        --hr-color: #ddd;
        --button-text-color: #222;
        --button-background-color: #87a9ff;
        --button-background-color-hover: #6789df;
        --selector-background-color-hover: #eeeeee;
    }
}

body {
    --document-font: 'Google Sans', sans-serif;
    font-family: var(--document-font);
    background-color: var(--main-background-color);
    color: var(--text-color);
}

div.boxed-section {
    border-radius: 8px;
    /* box-shadow: 0 2px 4px #bbb; */
    margin-top: 10px;
}

/* div.boxed-section:hover {
    box-shadow: 0 4px 8px #bbb;
} */

.login-button {
    font-family: var(--document-font);
    color: var(--button-text-color);
    transition: all 0.5s;
    text-decoration: none;
    background-color: var(--button-background-color);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    line-height: 18px;
    user-select: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    /* box-shadow: 0 2px 4px #bbb; */
}

.login-button:hover {
    /* box-shadow: 0 3px 6px #bbb; */
    /* transform: scale(1.02); */
    background-color: var(--button-background-color-hover);
}

div.loginButtonContainer {
    margin-top: 15px;
    margin-bottom: 15px;
}

#home-content {
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: darkgray;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    /* box-shadow: 0 2px 4px #bbb; */
}

#home-content>* {
    margin: 8px;
    margin-top: 14px;
    margin-bottom: 12px;
}

/* #home-content:hover {
    box-shadow: 0 4px 8px #bbb;
} */

#container {
    display: grid;
    justify-content: center;
}

#addUserForm {
    text-align: left;
}

input {
    font-family: var(--document-font);
    height: 24px;
    /*! border-color: none; */
    border-style: none;
    /*! border-width: 3px; */
    border-radius: 12px;
    margin-top: 3px;
    margin-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    transition-duration: 0.5s;
}

input:focus {
    outline: none;
    border-color: black;
}

.settings-box label {
    border-width:1px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 4px;
    padding:5px;
    display: block;
    user-select: none;
    transition: all 0.5s;
}

.settings-box label:hover {
    background: var(--selector-background-color-hover);
    cursor:pointer;
}

.copy-link {
    border-radius: 4px;
    border-style: none;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}
.copy-link .material-symbols-outlined {
    vertical-align: sub;
}
.copy-link .copy-link-text {
    vertical-align: super;
}

img {
    width: 50%;
    /* box-shadow: 0 4px 8px #bbb; */
    border-radius: 16px;
    transition-duration: 0.5s;
    margin: 5px;
}

/* img:hover {
    box-shadow: 0 6px 12px #bbb;
    transform: scale(1.01);
} */

#userList {
    text-align: left;
}

#userList ul {
    margin: 0;
    padding-left: 24px;
}
#userList th {
    text-align: left;
}

#userList .settings-list {
    width: min-content;
}

