@media (prefers-color-scheme: dark) {
    body {
        --main-background-color: #181818;
        --sec-background-color: #1e1e1e;
        --text-color: #ddd;
        --hr-color: #444;
        --button-text-color: #222;
        --button-background-color: #87a9ff;
        --button-background-color-hover: #6789df;
    }
}
@media (prefers-color-scheme: light) {
    body {
        --main-background-color: #f1f1f1;
        --sec-background-color: #eaeaea;
        --text-color: #222;
        --hr-color: #ddd;
        --button-text-color: #222;
        --button-background-color: #87a9ff;
        --button-background-color-hover: #6789df;
    }
}

body {
    --document-font: 'Google Sans', sans-serif;
    font-family: var(--document-font);
    background-color: var(--main-background-color);
    color: var(--text-color);
}

hr {
    border-color: var(--hr-color);
    color: var(--hr-color);
}

span.material-symbols-outlined {
    vertical-align: bottom;
    font-size: large;
}

.login-button {
    font-family: Roboto, sans-serif;
    color: var(--button-text-color);
    transition: all 0.5s;
    text-decoration: none;
    background-color: var(--button-background-color);
    border: black solid 1px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    line-height: 19.2px;
    user-select: none;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 3px;
    /*! box-shadow: 0 2px 4px #bbb; */
}

.login-button:hover {
    /*! box-shadow: 0 3px 6px #bbb; */
    /*! transform: scale(1.02); */
    background-color: var(--button-background-color-hover);
    font-family: var(--document-font);
}

#home-content {
    text-align: center;
    border-style: none;
    padding: 8px;
    border-radius: 16px;
    background-color: var(--sec-background-color);
    /*! box-shadow: 0 2px 4px #bbb; */
    /*! transition: all 0.3s; */
}

#home-content>* {
    margin: 8px;
}

/* #home-content:hover {
    ! box-shadow: 0 3px 8px #bbb;
    ! transform: scale(1.01);
} */

#container {
    display: grid;
    justify-content: center;
}

#img-container {
    display: grid;
    justify-content: center;
    text-align: center;
}

input {
    /*! border-color: none; */
    border-style: none;
    /*! border-width: 3px; */
    border-radius: 12px;
    margin-top: 3px;
    margin-bottom: 2px;
    transition-duration: 0.5s;
    height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
    font-family: var(--document-font);
}

input:focus {
    outline: none;
    border-color: black;
}
    
box {
    display: flex;
    justify-content: center;
}

#login-content {
    padding: 8px;
    width: min-content;
    justify-self: center;
}

#login-content h2 {
    margin-top: 0;
}

#login-content form {
    margin: 0;
}

#login-content p {
    margin-top: 16px;
    margin-bottom: 0;
}

#img-container {
    margin: 16px;
}

#img-container summary {
    cursor: pointer;
}

img {
    width: 50%;
    box-shadow: 0 4px 8px #bbb;
    border-radius: 16px;
    transition-duration: 0.7s;
    margin: 5px;
}

img:hover {
    box-shadow: 0 6px 12px #bbb;
    /*transform: scale(1.01);*/
}