@media (prefers-color-scheme: dark) {
    body {
        --main-background-color: #181818;
        --sec-background-color: #1e1e1e;
        --text-color: #ddd;
        --hr-color: #444;
        --button-text-color: #222;
    }
}
@media (prefers-color-scheme: light) {
    body {
        --main-background-color: #f1f1f1;
        --sec-background-color: #eaeaea;
        --text-color: #222;
        --hr-color: #ddd;
        --button-text-color: #222;
    }
}
body {
    font-family: Roboto;
    background-color: var(--main-background-color);
    color: var(--text-color);
}

hr {
    border-color: var(--hr-color);
    color: var(--hr-color);
}

.login_button:hover {
    background-color: #6789df;
}
span.material-symbols-outlined {
    vertical-align: bottom;
    font-size: large;
}

.login_button {
    font-family: Roboto;
    color: var(--button-text-color);
    transition: background-color 0.5s;
    text-decoration: none;
    background-color: #87a9ff;
    border-style: none;
    border-radius: 17px;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    line-height: 18px;
    user-select: none;
}
#home-content {
    text-align: center;
    border-style: none;
    padding: 8px;
    border-radius: 16px;
    background-color: var(--sec-background-color);
}
#home-content>* {
    margin: 8px;
}
#container {
    display: grid;
    justify-content: center;
}
#img-container {
    display: grid;
    justify-content: center;
    text-align: center;
}

input {
    border-color: darkgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.login-box {
    display: flex;
    justify-content: center;
}
#login-content {
    padding: 8px;
    width: min-content;
    justify-self: center;
}
#login-content h2 {
    margin: 0;
}
#login-content form {
    margin: 0;
}
#login-content p {
    margin-top: 16px;
    margin-bottom: 0;
}
#img-container {
    margin: 16px;
}
#img-container summary {
    cursor: pointer;
}