.login_button {
    text-decoration: none;
    color: black;
    background: none;
    border-style: solid;
    border-radius: 4px;
    border-color: darkgray;
    border-width: 2px;
    cursor: pointer;
    font-size: 16px;
    font-family: unset;
    padding: 1px;
    line-height: 18px;
    user-select: none;
}
.signup-box {
    display: grid;
    justify-content: center;
}
#signup-content {
    padding: 8px;
    width: min-content;
    justify-self: right;
}
#signup-content h2 {
    margin: 0;
}
#signup-content form {
    margin: 0;
}
#signup-content p {
    margin-top: 16px;
    margin-bottom: 0;
}