@media (prefers-color-scheme: dark) {
    body {
        --main-background-color: #181818;
        --sec-background-color: #1e1e1e;
        --text-color: #ddd;
        --hr-color: #444;
        --button-text-color: #222;
        --button-background-color: #87a9ff;
        --button-background-color-hover: #6789df;
    }
}
@media (prefers-color-scheme: light) {
    body {
        --main-background-color: #f1f1f1;
        --sec-background-color: #eaeaea;
        --text-color: #222;
        --hr-color: #ddd;
        --button-text-color: #222;
        --button-background-color: #87a9ff;
        --button-background-color-hover: #6789df;
    }
}

.login_button {
    font-family: Roboto, sans-serif;
    color: var(--button-text-color);
    transition: all 0.5s;
    text-decoration: none;
    background-color: var(--button-background-color);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    line-height: 18px;
    user-select: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    /* box-shadow: 0 2px 4px #bbb; */
}

.login_button:hover {
    /* box-shadow: 0 3px 6px #bbb; */
    /* transform: scale(1.02); */
    background-color: var(--button-background-color-hover);
}

.signup-box {
    display: grid;
    justify-content: center;
}
#signup-content {
    padding: 8px;
    width: min-content;
    justify-self: right;
}
#signup-content h2 {
    margin: 0;
}
#signup-content form {
    margin: 0;
}
#signup-content p {
    margin-top: 16px;
    margin-bottom: 0;
}

h2 {
    margin-bottom: 5px;
}

input {
    font-family: var(--document-font);
    height: 24px;
    /*! border-color: none; */
    border-style: none;
    /*! border-width: 3px; */
    border-radius: 12px;
    margin-top: 3px;
    margin-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    transition-duration: 0.5s;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

input:focus {
    outline: none;
    border-color: black;
}